<div class="signup-page">

    <app-top-bar [navigationModel]="navigationModel"></app-top-bar>
  
    <div class="out-container">
  
      <div class="align-center">
        <img src="../../../assets/images/team-invitation-icon.png" alt="" />
      </div>
      <div class="align-center">
        <p>We found an existing invitation matching your mobile number.</p>
      </div>
      <div class="home-btn-bottom align-center">
        <a role="button" routerLinkActive="active" routerLink="/join-team" class="team-btn blue-btn"> Join this Team </a>
      </div> 
      
    </div>

