<section class="helpandsupport">
    <app-top-bar [navigationModel]="navigationModel"></app-top-bar>
    
    <div class="role-cards">            
        <mat-card class="example-card">
            <h4> Help and Support</h4>
            <p>“PLAYOFFS,” including its affiliates (“PLAYOFFS”), is committed to respect your privacy and to comply with applicable data protection and privacy laws. This privacy policy (“Policy”) describes how we collect and use personal data where PLAYOFFS is the data controller or where we refer to the applicability of this Policy. “Personal data” means information relating to you or another identifiable individual.</p>
            <p>We will give you additional privacy information that is specific to a product or service in Supplement to this Policy and other notices you may view while using our products or services. If there is a difference between such notices and this Policy, the notices should be considered first.</p>
            <p>Software on your device may access your information. Our products or services may contain links to, or may be embedded within, other companies’ websites and services that may have privacy policies of their own. Wherever our products or services are embedded to products and services of our customers, we require our customers/ users to provide necessary transparency to you (the ultimate user of the application). This might include linking to this Policy and the relevant Supplements or providing transparency in integrated and embedded notices which will identify us as the service provider or controller.</p>
            <p><b>If you do not agree with this Policy, do not use our products and services, nor provide with your personal data.</b></p>
        </mat-card>
    </div>
</section>

