<div class="content">
    <div class="letters">
        <h2>" WE CHECK, SO YOU DON'T HAVE TO "</h2>
        <h5>

            A 360° CHECK FOR YOUR BMW.
        </h5>
        <p>With the advantage of latest technologies and professional know-how,<br> BMW experts meticulously inspect
            every inch of your vehicle. <br>This comprises of a service history check,<br> as well as fully resolving
            any flaws related to visual or technical aspects – from systems and components to the interior and exterior
            of your vehicle.<br> Thereafter, a final inspection and document check is performed along with on-road
            testing to ensure exceptional performance.</p>
            <div >
            <img src="https://www.bmwusedcars.in/images/BMW_BPS_Icon_RoadsideAssistaceOffer_180328.png" alt="">
            <img src="https://www.bmwusedcars.in/images/BMW_BPS_Icon_MotorInsurance_180328.png">
            <img src="https://www.bmwusedcars.in/images/BMW_BPS_Icon_TestDrive_180328.png">
            </div>
   
    <button class="button" (click)="login()">Login</button>
    <button class="button" (click)="register()">Register</button>
</div>
    <div class="card" *ngIf="this.message !=''">
        <h3> "Welcome to <span style="color:rgb(16, 76, 78);">Login</span> again"</h3>
        <div class="logincard">
            <form>
                <label>Name :
                    <input >
                </label>
                <label>Car Number :
                    <input >
                </label>
                <label>Mobile Number :
                    <input >
                </label>
                <label>Email :
                    <input >
                </label>
            </form>
        </div>
    </div>
    <div class="cars">
        <img class="bmw" src="https://images.unsplash.com/photo-1580273916550-e323be2ae537?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
    </div>

</div>
<div></div>
<div></div>