<div class="app-welcome-screen login-page">
  <div class="app-welcome-inner">
    <div class="app-logo"></div>
    <div class="app-label">{{'logo' | translate}}</div>
    <form [formGroup]="loginForm" (keydown)="pressEnterToSubmit($event)">
      <div class="pad-t60 ">
        <!-- <div class="align-center login-page-icon">
          <img src="../../../assets/images/login-icon.png" alt="" />
        </div> -->
        <div class="align-center">
          <h2 class="skyBlue-txt">Login with Mobile</h2>
          <p class="skyBlue-txt sub-heading">Enter your mobile number we will send you OTP to verify</p>
        </div>

        <div class="full-width login-country">
          <mat-form-field class="country-field pad-10">
            <mat-select formControlName="countryCode">
              <mat-option value="91-">IND +91</mat-option>
              <mat-option value="1-">US +1</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="mbl-field">
            <input matInput type="tel" (keypress)="key($event)" (keydown.space)="$event.preventDefault()"
              formControlName="username" placeholder="Mobile Number" maxlength="10" autocomplete="off">
          </mat-form-field>
          <mat-error style="font-size: 16px;  padding-top: 0px!important; padding-left: 10px!important;">{{message}}</mat-error>
          <!-- <mat-form-field class="mbl-field ">
            <input matInput type="tel" (keypress)="key($event)" (keydown.space)="$event.preventDefault()"
              formControlName="username" placeholder="Mobile Number" maxlength="10" autocomplete="off">
          </mat-form-field>
          <mat-error>{{message}}</mat-error>           -->
        </div>

      </div>
      <div class="home-btn-bottom align-center">
        <button class="common-btn" [ngClass]="{'blue-btn':loginForm.valid,'disabled':!loginForm.valid}"
          (click)="onSubmit()">{{'login' | translate}} </button>
      </div>
    </form>
    <div class="pad-t20">
      <p class="skyBlue-txt linkText">Don't have an account? 
        <span class="green-text">
          <a routerLink="/signup"
              routerLinkActive="active"><u>Sign up</u>
          </a>
        </span>
      </p>
    </div>
  </div>
</div>