<!-- <div>
    <nav>
      <div class="main">
      <img src="">
      <ol>
       <li>Managed Services</li>
       <li>digital transformation</li>
       <li>industries</li>
       <li>corporate</li>
       <li>careers</li> 
       <li>contact us</li>
    </ol>
    </div>
        
    </nav>
</div> -->
<div class="web-blocker">
    <!-- <div class="nav grid">nav</div> -->
    <div class="menu grid">menu</div>
    <div class="sidebar grid">sidebar</div>
    <div class="contact grid">contact</div>
    <div class="item1 grid">1</div>
    <div class="item2 grid">2</div>
    <div class="item3 grid">3</div>
    <div class="item4 grid">4</div>
</div>

