.role-cards {
    margin-top: 20px;
    padding: 15px;
}

.role-cards mat-card {
    /* background-color: #fafafa !important; */
    background-color: #fff !important;
    border-radius: 10px !important;
    box-shadow: none !important;
    border: 1px solid #e4e4e4 !important
}

.mrt-20 {
    margin-top: 20px;
}

.select-font {
    color: #1360b7 !important;
}