.role-cards {padding: 15px;}

.termsandcondition-page p, .terms-ul{font-size: 16px!important; text-align: justify; line-height: 2em!important; font-weight: 500;}
.termsandcondition-page h4{font-size: 16px!important; font-weight: 600; line-height: 2em!important;}
.termsandcondition-page h3{font-size: 18px!important; font-weight: 600; text-decoration: underline; line-height: 2em!important;}