
<div class="login_display">
    <form [formGroup]="loginForm">
        <h5>Login</h5>
        <div class="display">
        <input style="text-align: center;" class="input_display" type="text" formControlName="email"  placeholder="E-mail">
        <input style="text-align: center;" class="input_display" type="text" formControlName="mobileNumber" placeholder="MobileNumber">
        <input style="text-align: center;" class="input_display" type="password" formControlName="passWord" placeholder="password"><br>
        </div>
        <button type="button" (click)="login()">Login</button>
        <!-- <p><a style="color: rgb(42, 165, 184) ;" (click)="signUp()">SignUp</a></p> -->
        <div >
            <p style="font-size:small; font-weight: 600;">Don't have an account! 
               <u (click)="signUp()" style="color: rgb(42, 165, 184) ;">SignUp</u>
            </p>
          </div>
    </form>
</div>
