<div class="signup-page">

  <app-top-bar [navigationModel]="navigationModel"></app-top-bar>

  <div class="out-container">

    <app-progress-bar [step1]="step1" ></app-progress-bar>

    <div class="align-center">
      <img src="../../../assets/images/otp-icon.png" alt="" />
    </div>

    <div class="align-center">
      <h2>OTP Verification</h2>
      <p class="skyBlue-txt sub-heading">Enter OTP received in your mobile</p>
    </div>
    <form [formGroup]="signUpForm" (keypress)="key($event)" (keydown.space)="$event.preventDefault()" (keydown)="pressEnterToSubmit($event)">
      <div class="otp-field-container align-center">
        <mat-form-field class="mbl-field">
          <input matInput type="tel" #otp1 formControlName="otp1" maxlength="1" autocomplete="off"
            (keyup)="move($event, '' , otp1, otp2)" />
        </mat-form-field>
        <mat-form-field class="mbl-field">
          <input matInput type="tel" #otp2 formControlName="otp2" maxlength="1" autocomplete="off"
            (keyup)="move($event, otp1 , otp2, otp3)" />
        </mat-form-field>
        <mat-form-field class="mbl-field">
          <input matInput type="tel" #otp3 formControlName="otp3" maxlength="1" autocomplete="off"
            (keyup)="move($event, otp2 , otp3, otp4)" />
        </mat-form-field>
        <mat-form-field class="mbl-field">
          <input matInput type="tel" #otp4 formControlName="otp4" maxlength="1" autocomplete="off"
            (keyup)="move($event, otp3 , otp4, '')" />
        </mat-form-field>
      </div>
      <div class="error" style="font-size: 16px;  padding-top: 0px!important;">{{message}}</div>
      <div class="pad-t20 align-center">
        <p class="skyBlue-txt linkText">Didn't get the OTP? <span class="green-text"><a (click)="reSendOTP()"
              routerLinkActive="active">Resend OTP</a></span></p>
      </div>

      <div class="home-btn-bottom align-center">
        <a routerLinkActive="active" class="team-btn"
          [ngClass]="{'blue-btn': signUpForm.valid,'disabled':! signUpForm.valid}" (click)="onSubmit()"> Verify OTP </a>
      </div>
    </form>
  </div>