<div class="signup-page">
    <app-top-bar [navigationModel]="navigationModel"></app-top-bar>

    <div class="out-container"> 
      <div > 
          <div class="align-center">
            <img src="../../../assets/images/teamsetup-icon.png" alt=""/>
          </div>
          <div class="align-center">
            <h2 class="mar-b5">Add Members</h2>            
            <P class="align-center">Import team members from</P>
            <div class="home-btn-bottom align-center">
              <a routerLink="/#" routerLinkActive="active" class="big-btn blue-btn"> Phone Contacts </a>
            </div>
            <div class="home-btn-bottom align-center">
                OR
            </div>
            <div class="home-btn-bottom align-center">
            <a routerLink="/#" routerLinkActive="active" class="big-btn blue-btn"> Add Members Manually </a>
            </div>
           
          </div>
             
      </div>
    </div>
</div>

