<app-navbar (Click_event_child)="Received($event)" style="position: sticky; top: 0%;"></app-navbar>
<div class="main">
    <div class="sub">
        <h3 style="color: rgb(0,0,150); font-weight: 900; margin-top: 40px; margin-left: 90px; font-size: xx-large;">
            About us KG Hospital</h3><img src="https://www.kghospital.com/assets/img/hr.svg" style="margin-left: 90px;">
        <p>KG Hospital,a quaternary care,multispecialty hospital, has been at the<span style="font-weight: 700;"> cutting edge of medicine </span> while staying
            true to its charitable<br> mission and providing <span style="font-weight: 700;">advanced yet affordable healthcare since 1974.</span> 
        </p>
        <p>KG Hospital, run by K.Govindaswamy Naidu Medical Trust, was founded in 1974 by 'Dharmaveera' K.Govindaswamy
            Naidu, a leading<br> industrialist and philanthropist from Annur village in Coimbatore district. </p>
        <p> <span style="font-weight: 700;">Dr G.Bakthavathsalam</span> (MS, FICS, FCCP, FAMS), the Managing Trustee and Chairman of KG Hospital,<br> has grown
            the hospital organically from a 10-bed hospital in 1974 to the state-of-the-art healthcare provider it is
            today. For his service to society, Dr <br> Bakthavathsalam (fondly known as Dr GB) has received numerous
            coveted awards including Padma Shri Award from the President <br> of India and <span style="font-weight: 700;"> Dr B.C.Roy Award </span> from the
            Prime Minister of India.</p>
    </div>
    <div class="subset">
        <h5 style="padding-top: 30px; margin-left: 70px; font-weight: 800; ">KG Hospital has pushed the boundaries of
            medicine since its inception</h5>
        <div class="l-display">
            <li style="margin-left: 30px;  margin-top: 40px; ">First hospital in Asia to install 128 slice CT Scanner.
                More<br> than 2,00,000 people have been scanned so far</li>
            <li style="margin-left: 30px;  margin-top: 40px; ">For the first time in India, Awake Open Heart Surgery
                was<br> performed</li>
            <li style="margin-left: 30px;  margin-top: 40px; ">Performed a rare heart surgery first time in medical<br>
                history on a girl with 5 heart defects</li>
            <li style="margin-left: 30px;  margin-top: 40px; ">or the first time in India, a 2 day old baby was dialyses
            </li>
            <li style="margin-left: 30px;  margin-top: 40px; ">First cadaver transplantation performed outside Chennai
            </li>
        </div>
        <div class="r-display">
            <li style="margin-left: 30px;  margin-top: 40px; padding-right: 30px; ">Third time kidney transplantation
                was done on a soldiere</li>
            <li style="margin-left: 30px;  margin-top: 40px; padding-right: 30px;">World's first 4D ultrasound system
                with wireless <br> transducers was installed at KGH</li>
            <li style="margin-left: 30px;  margin-top: 40px; padding-right: 30px; ">First hospital to introduce state of
                the art ambulance<br> - responder 2000 - and emergency services in Coimbatore</li>
            <li style="margin-left: 30px;  margin-top: 40px;  padding-right: 30px;">First and the only hospital to
                currently perform Minimally <br> Invasive Cardiac Surgeries in Coimbatore. More than 200 <br> surgeries
                have been performed with a 100% success rate <br> (data: 2021)</li>

        </div>
    </div>
    <div class="display-img">
        <img style="width: 250px; height: 180px;"
            src="https://www.kghospital.com/assets/img/about-us-banner/heart-surgery.png" alt="" class="img1">

        <img style="width: 250px; height: 180px;"
            src="https://www.kghospital.com/assets/img/about-us-banner/children-who-underwent-free%20heart-surgery.png"
            alt="" class="img2">
        <img style="width: 250px; height: 180px;"
            src="https://www.kghospital.com/assets/img/about-us-banner/children-who-underwent-free-heart-surgery.png"
            alt="" class="img3">
        <img style="width: 250px; height: 180px;"
            src="https://www.kghospital.com/assets/img/about-us-banner/donated-for-the-rehabilitation.png" alt=""
            class="img4">
        <img style="width: 250px; height: 180px;"
            src="https://www.kghospital.com/assets/img/about-us-banner/kargil-war-relief-fund.png" alt="" class="img5">
        <img style="width: 250px; height: 180px;"
            src="https://www.kghospital.com/assets/img/about-us-banner/250-bomb-blast-victims-were-treated.png" alt=""
            class="img6">
        <img style="width: 250px; height: 180px;"
            src="https://www.kghospital.com/assets/img/about-us-banner/KG-Foundations-Dynamic-Indian-of-the-Decade-Award.png"
            alt="" class="img7">
        <img style="width: 250px; height: 180px;"
            src="https://www.kghospital.com/assets/img/about-us-banner/thalassemia-patients-receiving-free-blood.png"
            alt="" class="img8">

    </div>
   <div class="item5" style="background-color: rgb(0, 0, 0); margin-top: 90px;">
            <div style="margin-left: 500px;">
              <img style="margin-left: 20px;  margin-top: 5px;" src="https://www.kghospital.com/assets/img/instagram.svg">
              <img style="margin-left: 20px;  margin-top: 5px;" src="https://www.kghospital.com/assets/img/LinkedIn.svg">
              <img style="margin-left: 20px;  margin-top: 5px;" src="https://www.kghospital.com/assets/img/youtube.svg">
              <img style="margin-left: 20px;  margin-top: 5px;" src="https://www.kghospital.com/assets/img/facebook.svg">
            </div>
          </div> 
   
</div>