<!-- <div class="header">
    <div class="image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1Ep_jZ4vhZbOaA2ZMUTpUIzqNwHWTVtP6xcA5cajAIHQBSkb3LVVdCh_P9KiUyyDU6R8&usqp=CAU">
    </div>
    <div class="content">
        
    </div>
</div> -->
        
<header>
    <h1><img src="./assets/colo.png"></h1>
    <nav>
        <li (click)="home()" routerLinkActive="active">Home</li>
        <li (click)="doctors()">Specialties</li>
        <li (click)="doctorList()">Doctors</li>
        <li (click)="pationtList()">International Patients</li>
        <li routerLink="relive/hari" >About Us</li>
        <li > Contact Us</li>
        
    </nav>
   
</header>

        
    

