<section class="pad-b5">
    <sidebar_menu></sidebar_menu>
    <top-menu-bar [currentTab]="tabName"></top-menu-bar>

    <!-- <div class="role-cards language-selection-page">
        <mat-card>          
          <div class="align-center">  
              <div class="home-btn-bottom align-center">                
                     <a routerLinkActive="active" class="big-btn blue-btn" (click)="clicklanguage()" role="button">  
                    <a class="big-btn blue-btn"> 
                        <span ><mat-icon matPrefix>public</mat-icon></span> <span> <mat-label>Change Language</mat-label> </span>
                    </a>


                    <ng-container *ngIf="show">
                        <div class="language-selection">
                            <form class="pad-lr10">
                                <mat-card-content>
                                    <mat-form-field class="full-width">
                                        <mat-label>Change Language</mat-label>
                                        <mat-icon matPrefix>public</mat-icon>
                                        <mat-select formControlName="gameTeamType">
                                            <mat-option value="eng">English</mat-option>
                                            <mat-option value="tamil">Tamil</mat-option>
                                            <mat-option value="Hindi">Hindi</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-card-content>
                            </form>
                        </div>
                    </ng-container>  

              </div>
              
              <div class="home-btn-bottom align-center">                
                    <a routerLinkActive="active" class="big-btn blue-btn" role="button">
                        <span><mat-icon matPrefix>notifications_active</mat-icon></span> <span> Notification Preferences </span>
                    </a>
              </div> 

              <div class="home-btn-bottom align-center">                
                    <a routerLinkActive="active" class="big-btn red-btn" role="button">
                        <span><mat-icon matPrefix style="font-size: 24px!important; line-height: 30px!important;">delete_outline</mat-icon></span> <span> Delete Account </span>
                    </a>
              </div> 
          </div>
        </mat-card>  
        
      </div> -->
      <div class="align-center pad-t100">              
            <!-- <img src="../../../assets/images/coming-soon.png" alt="" /> -->
            <div class="align-center">
                <img src="../../../assets/images/coming-soon-icon.png" alt="" />
              </div>
            <h1 class="red-txt"><b>Coming Soon</b></h1>
      </div>

</section>
