<div class="create-team-page add-newgames">
  <app-top-bar [navigationModel]="navigationModel"></app-top-bar>

  <div class="out-container container-bg create-team-icon addgames add-gamespage">
    <form [formGroup]="addGameForm">
      <mat-card-content>
        <mat-selection-list class="pad-b15">
          <mat-icon matPrefix>notifications</mat-icon>
          <mat-list-option class="pad-0" #note  [selected]="gameModel.notifyTeam == 'yes'" (click)="notifyTeamSelect(note.selected)">
            Notify Team
          </mat-list-option>
        </mat-selection-list>

        <mat-form-field class="pad-b10">
          <mat-label>Time Zone </mat-label>
          <mat-icon matPrefix>language</mat-icon>
          <mat-select formControlName="timezone" [(ngModel)]="gameModel.gameTimeZone">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let timezone of timezoneList" value="{{ timezone.timeZoneName }}" >
              ({{ timezone.timeZoneIdentifier }}) {{ timezone.timeZoneName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width pad-b10">
          <mat-label>Date </mat-label>
          <mat-icon matPrefix>date_range</mat-icon>
          <input
            matInput
            formControlName="gameDate"
            matInput
            [min]="minDate"
            [matDatepicker]="myDatePicker"
            (click)="myDatePicker.open()"
            readonly
            style="position: relative"
            />
          <mat-datepicker #myDatePicker></mat-datepicker>
          <mat-datepicker-toggle
            style="position: absolute; right: 0px; opacity: 0"
            matPrefix
            [for]="myDatePicker"
          ></mat-datepicker-toggle>
        </mat-form-field>

        <mat-form-field class="full-width pad-b10" *ngIf="isHidden">
          <mat-label>Time </mat-label>
          <input
            matInput
            [ngxTimepicker]="picker"
            formControlName="gameTime"
            readonly
            [(ngModel)]="gameModel.gameTime"
          />
          <mat-icon matPrefix>access_time</mat-icon>
        </mat-form-field>
        <ngx-material-timepicker #picker></ngx-material-timepicker>
        <mat-form-field class="full-width pad-b10">
          <mat-label>Opponent </mat-label>
          <mat-icon matPrefix>compare_arrows</mat-icon>
          <input
            matInput
            formControlName="gameOpponentData"
            (click)="openOpponentDialog()"
            placeholder="Opponent"
            readonly
            autocomplete="off"
            [(ngModel)]="teamName"
          />
        </mat-form-field>

        <mat-form-field class="pad-b10">
          <mat-label>Location </mat-label>
          <mat-icon matPrefix>room</mat-icon>
          <input
            matInput
            formControlName="location"
            value="mapAddress"
            matGoogleMapsAutocomplete
            (onAutocompleteSelected)="onAutocompleteSelected($event)"
            (onLocationSelected)="onLocationSelected($event)"
            [(ngModel)]="gameModel.location"
            required
          />
        </mat-form-field>

        <mat-form-field class="full-width pad-b10">
          <mat-label>Location Details</mat-label>
          <mat-icon matPrefix> map</mat-icon>
          <input
            matInput
            formControlName="locationDetails"
            placeholder="Location Details"
            autocomplete="off"
            name="locationdetails"
            [(ngModel)]="gameModel.locationDetails"
          />
        </mat-form-field>

        <mat-form-field class="full-width pad-b10">
          <mat-label>Game Assignments</mat-label>
          <mat-icon matPrefix>people</mat-icon>
          <input
            matInput
            formControlName="gameAssignments"
            (click)="openAssignmentDialog()"
            readonly
            autocomplete="off"
            [(ngModel)]="totalLength"
          />
        </mat-form-field>

        <mat-form-field class="full-width pad-b10">
          <mat-label>Home / Away</mat-label>
          <mat-icon matPrefix>home</mat-icon>
          <mat-select formControlName="gameTeamType"
          [(ngModel)]="gameModel.gameTeamType"
          >
            <mat-option value="home">Home Team</mat-option>
            <mat-option value="away">Away Team</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width pad-b10">
          <mat-label>Duration</mat-label>
          <mat-icon matPrefix> av_timer</mat-icon>
          <input
            matInput
            (click)="openDurationDialog()"
            placeholder="Duration"
            readonly
            autocomplete="off"
            [value]="durationTotal"
          />
        </mat-form-field>

        <mat-form-field class="pad-b10">
          <mat-label>Arrive Early</mat-label>
          <mat-icon matPrefix>access_alarms</mat-icon>
          <mat-select formControlName="arriveEarlyInfo" 
          [(ngModel)]="gameModel.arriveEarlyInfo" >
            <mat-option
              *ngFor="let early of arriveEarlyList"
              value="{{ early.gameDurationId }}" >
              {{ early.arriveEarlyDuration }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width pad-b10">
          <mat-label>Notes</mat-label>
          <mat-icon matPrefix>note</mat-icon>
          <textarea
            matInput
            formControlName="gameNotes"
            placeholder="Notes"
            name="notes"
            [(ngModel)]="gameModel.gameNotes"
          ></textarea>
        </mat-form-field>
      </mat-card-content>
    </form>
  </div>
</div>
