.box-shadow-dark { box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;}
.custom-nav {
    position: absolute;
    background-color: transparent !important;
    width: 100%;
    position: fixed;
    top:0;
   
}
button{
    margin-right: 50px;
}