.spinner
{
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  background-color: transparent;
  backdrop-filter: brightness(30%);
  position: absolute;
  top:0;
  z-index: 999;
}